<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="style.css"> </head>

  <body class="bg-light"
        id="app"
        ng-app="app"
        ng-controller="controller"
        spellcheck=false>
    <nav class="navbar navbar-light bg-white pr-0 shadow-3 pb-0 sticky-top">
      <div class="row w-100 mt-2 mb-2">
        <div class="col-1">
          <button class="btn btn-outline-secondary border-0 mt-2 bg-transparent text-secondary"
                  ng-click="openNav()">
            <i class="fas fa-bars"></i>
          </button>
        </div>
        <div class="col">
          <div contenteditable
               class="form-control bg-light typeahead mt-2 lead border"
               placeholder="Search..."></div>
        </div>
        <div class="col-1 pr-0"> </div>
      </div>
      <div class="row w-100 justify-content-center">
        <div class="col"></div>
        <div class="col-auto px-1">
          <div class="btn-group">
            <button class="btn btn-sm btn-light font-weight-light rounded-top-left mx-0">All</button>
            <button class="btn btn-sm btn-light font-weight-light rounded-0 mx-0">ICU</button>
            <button class="btn btn-sm btn-light font-weight-light rounded-0 mx-0">Discharged</button>
            <button class="btn btn-sm btn-light font-weight-light rounded-top-right mx-0">More...</button>
          </div>
        </div>
        <div class="col-auto px-1">
          <div class="dropdown">
            <button class="btn btn-light btn-sm mx-0 font-weight-light rounded-top"
                    type="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">ACS
              <i class="fas fa-angle-down small ml-2"></i>
            </button>
            <div class="dropdown-menu shadow-4 mt-1"
                 aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item"
                 href="#">Elective</a>
              <a class="dropdown-item"
                 href="#">Trauma</a>
              <a class="dropdown-item"
                 href="#">SICU</a>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </nav>
    <div class="container-fluid mt-2"
         id="main">
      <div class="row">
        <div class="col-1"
             ng-click="showFloorList=true;sidebar=false;clearSelected();"></div>
        <div class="col">
          <!--TIMELINE-->
          <div class="mt-2 mb-0 ml-1 h4 pointer"
               ng-click="showFloorList=true;sidebar=false;"
               id="floor">
            <a href="#">7-West</a>
          </div>
          <div ng-repeat="patient in patients"
               ng-click="openNav(patient.id);showFloorList=false;showNoMarkup()">
            <div class="card mt-2 patientCard"
                 id=patientName_p{{patient.id}}>
              <div class="card-body pt-2 pb-0"
                   ng-click="showDetail(patient.id,'Demographics');">
                <div class="row">
                  <div class="col-auto px-1 py-1"> <span contenteditable
                          class="h5 typeahead singleline search"
                          placeholder="Name">{{patient.name}}</span> </div>
                  <div class="col">
                    <div class="btn-group-toggle float-left"
                         role="group"
                         data-toggle="buttons">
                      <label class="btn btn-outline-secondary border-transparent btn-sm mr-1"
                             ng-repeat="consultTeam in patient.consultTeams"
                             data-toggle="collapse"
                             data-target="#consultTeamNotes_p{{patient.id}}ct{{consultTeam.id}}"
                             aria-expanded="false"
                             aria-controls="consultTeamNotes_p{{patient.id}}ct{{consultTeam.id}}"
                             id=consultTeamShow_p{{patient.id}}ct{{consultTeam.id}}>
                        <input type="checkbox"
                               autocomplete="off">{{consultTeam.name}}</label>
                    </div>
                  </div>
                  <div class="col-auto pl-1 pr-0">
                    <div class="form-inline"><span contenteditable
                            class="form-control form-control-sm mr-1"
                            placeholder="MRN">{{patient.mrn}}</span><span contenteditable
                            class="form-control form-control-sm mr-1"
                            placeholder="DOB">{{patient.dob}}</span><span contenteditable
                            class="form-control form-control-sm"
                            placeholder="Room">{{patient.room}}</span> </div>
                  </div>
                  <div class="col-auto px-0">
                    <button class="btn btn-outline-secondary px-2 mx-1 primary float-right"
                            id=primaryTeamOptions_p{{patient.id}}
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                      <i class="fas fa-chevron-down"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right shadow-4"
                         aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item"
                         href="#"
                         ng-click="timeline=patient">Timeline</a>
                      <a class="dropdown-item"
                         href="#"
                         ng-click="diabetes=true;appendicitis=false;abscess=false;sidebar=false;noMarkup=false;">Diabetes</a>
                      <a class="dropdown-item"
                         href="#"
                         ng-click="appendicitis=true;diabetes=false;abscess=false;sidebar=false;noMarkup=false;">Appendicitis</a>
                      <a class="dropdown-item"
                         href="#"
                         ng-click="abscess=true;diabetes=false;appendicitis=false;sidebar=false;noMarkup=false;">Abscess</a>
                      <a class="dropdown-item"
                         href="#"
                         ng-click="abscess=false;diabetes=false;appendicitis=false;sidebar=false;noMarkup=true;">Close</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item"
                         href="#">Sign Off</a>
                      <a class="dropdown-item text-danger"
                         href="#">Delete</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body px-0 pb-1 pt-0">
                <div class="row mx-1"
                     ng-if="updates==true&&patient.id==0">
                  <div class="col p-0 mr-1">
                    <div contenteditable
                         class="form-control p-1 multiline"
                         placeholder="{{note.name}}">44 yo F DM, HTN, with RLQ pain x3 days, CT acute appendicitis. C/b abscess now s/p IR drain. <br><br>H/o c-section x2</div>
                  </div>
                  <div class="col p-0 mr-1">
                    <div contenteditable
                         class="form-control p-1 multiline"
                         placeholder="{{note.name}}">T: 101.2F <br>HR: 90 <br>BP: 136/86 <br>RR: 16 <br>SpO2: 100% on RA</div>
                  </div>
                  <div class="col p-0 mr-1">
                    <div contenteditable
                         class="form-control p-1 multiline"
                         placeholder="{{note.name}}">SCH: cefoxitin, norco, colace, lisinopril, iss, lovenox <br> <br>PRN: <span class="text-danger">dilaudid <i class="fas fa-times pointer"></i><br><span class="text-success">tylenol <i class="fas fa-plus pointer"></i></span></span> <br> <br>CONT: NS@125</div>
                  </div>
                  <div class="col p-0 mr-1">
                    <div contenteditable
                         class="form-control p-1 multiline"
                         placeholder="{{note.name}}">FSBG: 230 > 224 <br>WBC: 16.2 <br> <br>CT a/p: 8x6x8cm abscess R paracolic gutter <br>CT a/p: inflamed appendix</div>
                  </div>
                  <div class="col p-0 mr-1">
                    <div contenteditable
                         class="form-control p-1 multiline"
                         placeholder="{{note.name}}">[ ] drain teaching <br>[ ] f/u IR <br>[ ] cs medicine for dm management</div>
                  </div>
                </div>
                <div class="row mx-1"
                     ng-if="appendicitis==true&&patient.id==0">
                  <div class="col p-0 mr-1">
                    <div contenteditable
                         class="form-control p-1 multiline"
                         placeholder="{{note.name}}">44 yo F DM, HTN, with <span class="text-primary">RLQ pain</span> x3 days, CT <span class="text-primary">acute appendicitis</span>. C/b abscess now s/p IR drain. <br><br>H/o c-section x2</div>
                  </div>
                  <div class="col p-0 mr-1">
                    <div contenteditable
                         class="form-control p-1 multiline"
                         placeholder="{{note.name}}">T: 101.2F <br>HR: 90 <br>BP: 136/86 <br>RR: 16 <br>SpO2: 100% on RA</div>
                  </div>
                  <div class="col p-0 mr-1">
                    <div contenteditable
                         class="form-control p-1 multiline"
                         placeholder="{{note.name}}">SCH: <span class="text-primary">cefoxitin</span>, <span class="text-primary">norco</span>, colace, lisinopril, iss, lovenox</span> <br> <br>PRN: <span class="text-primary">dilaudid</span> <br> <br>CONT: <span class="text-primary">NS@125</span></div>
                  </div>
                  <div class="col p-0 mr-1">
                    <div contenteditable
                         class="form-control p-1 multiline"
                         placeholder="{{note.name}}">FSBG: 230 > 224 <br><span class="text-primary">WBC</span>: 16.2 <br> <br><span class="text-primary">CT a/p</span>: 8x6x8cm abscess R paracolic gutter <br><span class="text-primary">CT a/p</span>: inflamed appendix</div>
                  </div>
                  <div class="col p-0 mr-1">
                    <div contenteditable
                         class="form-control p-1 multiline"
                         placeholder="{{note.name}}">[ ] drain teaching <br>[ ] f/u IR <br>[ ] cs medicine for dm management</div>
                  </div>
                </div>
                <div class="row mx-1"
                     ng-if="diabetes==true&&patient.id==0">
                  <div class="col p-0 mr-1">
                    <div contenteditable
                         class="form-control p-1 multiline"
                         placeholder="{{note.name}}">44 yo F <span class="text-primary">DM</span>, HTN, with RLQ pain x3 days, CT acute appendicitis. C/b abscess now s/p IR drain. <br><br>H/o c-section x2</div>
                  </div>
                  <div class="col p-0 mr-1">
                    <div contenteditable
                         class="form-control p-1 multiline"
                         placeholder="{{note.name}}">T: 101.2F <br>HR: 90 <br>BP: 136/86 <br>RR: 16 <br>SpO2: 100% on RA</div>
                  </div>
                  <div class="col p-0 mr-1">
                    <div contenteditable
                         class="form-control p-1 multiline"
                         placeholder="{{note.name}}">SCH: cefoxitin, norco, colace, lisinopril, <span class="text-primary">iss</span>, lovenox <br> <br>PRN: dilaudid <br> <br>CONT: NS@125 </div>
                  </div>
                  <div class="col p-0 mr-1">
                    <div contenteditable
                         class="form-control p-1 multiline"
                         placeholder="{{note.name}}"><span class="text-primary">FSBG</span>: 230 > 224 <br>WBC: 16.2 <br> <br>CT a/p: 8x6x8cm abscess R paracolic gutter <br>CT a/p: inflamed appendix</div>
                  </div>
                  <div class="col p-0 mr-1">
                    <div contenteditable
                         class="form-control p-1 multiline"
                         placeholder="{{note.name}}">[ ] drain teaching <br>[ ] f/u IR <br><span class="text-primary">[ ] cs medicine for dm management</span></div>
                  </div>
                </div>
                <div class="row mx-1"
                     ng-if="abscess==true&&patient.id==0">
                  <div class="col p-0 mr-1">
                    <div contenteditable
                         class="form-control p-1 multiline"
                         placeholder="{{note.name}}">44 yo F DM, HTN, with RLQ pain x3 days, <span class="text-primary">CT acute appendicitis</span>. C/b <span class="text-primary">abscess</span> now s/p <span class="text-primary">IR drain</span>. <br><br>H/o c-section x2</div>
                  </div>
                  <div class="col p-0 mr-1">
                    <div contenteditable
                         class="form-control p-1 multiline"
                         placeholder="{{note.name}}">T: 101.2F <br>HR: 90 <br>BP: 136/86 <br>RR: 16 <br>SpO2: 100% on RA</div>
                  </div>
                  <div class="col p-0 mr-1">
                    <div contenteditable
                         class="form-control p-1 multiline"
                         placeholder="{{note.name}}">SCH: <span class="text-primary">cefoxitin</span>, <span class="text-primary">norco</span>, colace, lisinopril, iss, lovenox <br> <br>PRN: dilaudid <br> <br>CONT: NS@125 </div>
                  </div>
                  <div class="col p-0 mr-1">
                    <div contenteditable
                         class="form-control p-1 multiline"
                         placeholder="{{note.name}}">FSBG: 230 > 224 <br><span class="text-primary">WBC</span>: 16.2 <br> <br><span class="text-primary">CT a/p</span>: 8x6x8cm abscess R paracolic gutter <br>CT a/p: inflamed appendix</div>
                  </div>
                  <div class="col p-0 mr-1">
                    <div contenteditable
                         class="form-control p-1 multiline"
                         placeholder="{{note.name}}"><span class="text-primary">[ ] drain teaching</span> <br><span class="text-primary">[ ] f/u IR</span> <br>[ ] cs medicine for dm management</div>
                  </div>
                </div>
                <div class="row mx-1">
                  <div class="col p-0 mr-1"
                       ng-repeat="note in patient.primaryTeam.notes"
                       ng-hide="noMarkup==false&&patient.id==0;">
                    <div contenteditable
                         class="form-control p-1 multiline"
                         ng-click="showDetail(patient.id,note.name);openNav();showFloorList=false;"
                         placeholder="{{note.name}}">{{note.content}}</div>
                  </div>
                </div>
                <div class="collapse multi-collapse"
                     ng-repeat="consultTeam in patient.consultTeams"
                     id=consultTeamNotes_p{{patient.id}}ct{{consultTeam.id}}>
                  <div class="row ml-0 mr-1 mt-1 mb-0 px-1 bg-light rounded">
                    <div class="col p-0 mr-1"
                         ng-repeat="note in consultTeam.notes">
                      <div class="form-control border-0 px-2 mr-1 pt-2 bg-transparent text-secondary smalltext">{{note.content}}</div>
                    </div>
                    <div class="col-auto p-0">
                      <div class="dropdown btn-group btn-group-toggle float-right">
                        <button class="btn btn-light dropdown-toggle btn-sm text-secondary"
                                type="button"
                                id="consultTeamOptions_p{{patient.id}}ct{{consultTeam.id}}"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"></button>
                        <div class="dropdown-menu dropdown-menu-right shadow-4"
                             aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item"
                             href="#">Make Primary</a>
                          <a class="dropdown-item text-danger"
                             href="#">Sign Off</a>
                        </div>
                        <button class="btn btn-light btn-sm text-secondary">&times</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="collapse multi-collapse"
                   ng-repeat="consultTeam in patient.consultTeams"
                   id=consultTeamNotes_p{{patient.id}}ct{{consultTeam.id}}>
                <div class="row mx-0 px-1 bg-light rounded">
                  <div class="col mr-1"
                       ng-repeat="note in consultTeam.notes">
                    <div class="form-control border-0 p-1 mr-1 bg-transparent text-secondary smalltext">{{note.content}}</div>
                  </div>
                  <div class="col-auto p-0">
                    <div class="dropdown btn-group btn-group-toggle float-right">
                      <button class="btn btn-light dropdown-toggle btn-sm text-secondary"
                              type="button"
                              id="consultTeamOptions_p{{patient.id}}ct{{consultTeam.id}}"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false"></button>
                      <div class="dropdown-menu dropdown-menu-right shadow-4"
                           aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item"
                           href="#">Make Primary</a>
                        <a class="dropdown-item text-danger"
                           href="#">Sign Off</a>
                      </div>
                      <button class="btn btn-light btn-sm text-secondary">&times</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--TIMELINE-->
            <div ng-hide="timeline !== patient">
              <div class="row">
                <div class="col-auto pr-1">
                  <div class="ml-2 mr-0 mt-4 badge badge-light border text-secondary font-weight-normal">13:40</div>
                </div>
                <div class="col">
                  <div class="card border-transparent my-0 callout callout-primary-light bg-transparent">
                    <div class="card-body px-2">
                      <div class="row">
                        <div class="col pr-2">
                          <div class=""
                               id=patientName_p{{patient.id}}
                               placeholder="Name">{{timeline.name}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <button class="btn btn-outline-secondary btn-sm"
                          ng-show="timeline"
                          ng-click="timeline=''">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2 mt-2 mr-5 pl-0">
          <div id="sidenav"
               class="sidenav h-100 mr-5 sticky-top">
            <div ng-show="showFloorList==true;sidebar==false;">
              <div class="h4">Patients
                <div class="h5 text-secondary">Location</div>
              </div>
              <div class="smalltext text-secondary">7-West</div>
              <div ng-repeat="patient in patients">
                <a href=#patientName_p{{patient.id}}
                   class="smalltext ml-1">{{patient.name}}</a>
              </div>
            </div>
            <div ng-repeat="patient in patients"
                 ng-if="detailPatient.id==patient.id;"
                 ng-show="sidebar==true"
                 ng-hide="sidebar==false">
              <div class="h4 mb-2">{{detailPatient.name}}
                <button class="btn btn-outline-secondary p-1 align-text-bottom"
                        ng-click="magic=!magic">
                  <i class="fas fa-magic"
                     ng-click="showMagic()"></i>
                </button>
              </div>
              <!-- MAGIC -->
              <div class="row mb-2"
                   ng-if="patient.id==0 && magic==true">
                <div class="col-12 pb-3"><span class="badge badge-danger mt-1 pointer border border-danger"
                        ng-click="showUpdates();">3 Updates</span></div>
                <div class="col-12"><span class="badge badge-light text-secondary font-weight-light border border-secondary mr-1 mt-1 pointer"
                        ng-click="showAppendicitis()">Appendicitis</span><span class="badge badge-light text-secondary font-weight-light border border-secondary mr-1 mt-1 pointer"
                        ng-click="showAbscess()">Abscess</span><span class="badge badge-light text-secondary font-weight-light border border-secondary mr-1 mt-1 pointer"
                        ng-click="showDiabetes()">Diabetes</span> </div>
              </div>
              <div class="row"
                   ng-hide="magic==true">
                <div class="col">
                  <div class="h5 mb-2 text-secondary">{{detailTitle}}</div>
                  <div ng-repeat="detail in patient.details"
                       ng-if="detail.name==detailTitle">
                    <div class="mb-3"
                         ng-repeat="item in detail.content">
                      <div class="text-secondary align-text-top small pointer"
                           ng-click="thumbtackClick=!thumbtackClick">{{item.key}}</div>
                      <div ng-repeat="value in item.values"
                           class="ml-1 smalltext pointer align-items-top"
                           ng-mouseover="thumbtack=true"
                           ng-mouseleave="thumbtack=false"
                           ng-click="thumbtackClick=!thumbtackClick;"> <span ng-if="thumbtackClick"
                              class="text-primary">{{value}}</span> <span ng-if="!thumbtackClick">{{value}}</span>
                        <i class="fas fa-thumbtack small text-primary"
                           ng-if="thumbtack==true||thumbtackClick==true;"></i>
                        <i class="fas fa-thumbtack small text-light"
                           ng-hide="thumbtack==true||thumbtackClick==true"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-1"></div>
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
          integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
          integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-sanitize.min.js"></script>
  <script type="text/javascript"
          src="script.js"></script>

</html>
